[submodule "works_react/sphere"]
	path = works_react/sphere
	url = https://github.com/modernscape/sphere.git
[submodule "works_react/sphere_distortion"]
	path = works_react/sphere_distortion
	url = https://github.com/modernscape/sphere_distortion.git
